/* * {
  box-sizing: border-box;
} */

body {
  background-color: rgb(235, 248, 255);
  color: rgb(65, 65, 65);
}

.header {
  text-align: center;
}

.add-book {
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(75, 192, 255);
  border-width: 2px;
  border-radius: 10px;
  color: rgb(75, 192, 255);

  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.add-book:hover {
  transition: 0.5s;
  background-color: rgb(75, 192, 255);
  border: solid;
  border-width: 2px;
  border-color: rgb(75, 192, 255);
  color: rgb(255, 255, 255);
}

.main-container {
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  visibility: hidden;
  position: fixed;
  z-index: -1;
}

.book-form {
  display: flex;
}

.open-form {
  visibility: visible;
  z-index: 1;
  justify-content: center;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -160px;
}

.form-labels {
  line-height: 2.98rem;
  margin-right: 2rem;
  font-weight: bold;
}

.form-inputs {
  line-height: 3rem;
  margin-left: 2rem;
}

.form-inputs > input {
  padding: 0.25rem;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: rgb(176, 176, 176);
  border-style: solid;
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.submit-form {
  margin-top: 1rem;
  margin-left: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(75, 192, 255);
  border-width: 2px;
  border-radius: 10px;
  color: rgb(75, 192, 255);

  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.submit-form:hover {
  transition: 0.5s;
  background-color: rgb(75, 192, 255);
  border: solid;
  border-width: 2px;
  border-color: rgb(75, 192, 255);
  color: rgb(255, 255, 255);
}

.cancel-form {
  margin-top: 1rem;
  margin-right: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(255, 75, 126);
  border-width: 2px;
  border-radius: 10px;
  color: rgb(255, 75, 126);

  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.cancel-form:hover {
  transition: 0.5s;
  background-color: rgb(255, 75, 126);
  border: solid;
  border-width: 2px;
  border-color: rgb(255, 75, 126);
  color: rgb(255, 255, 255);
}

.books-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: flex-start;
  justify-content: center;
}

.books {
  flex: 1 0 30%;
  max-width: 350px;
  min-width: 350px;
  margin: 1.25rem;
  padding-left: 1rem;
  border-radius: 1rem;
  position: relative;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0 10px 20px rgba(137, 137, 137, 0.15));
}

@media (max-width: 768px) {
  .books-container {
    flex-direction: column;
    align-items: center;
  }
}
