@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

main {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.side-padding {
  padding-left: 200px;
  padding-right: 200px;
}

.hero-container {
  background-color: #1f2937;
  margin: 0;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.navbar-item-container > li > a {
  font-size: 18px;
  color: #c4c5c8;
}

.navbar-item-container > li {
  list-style: none;
  margin-left: 25px;
  /* margin-right: 10px; */
}

.navbar-item-container {
  display: flex;
}

.hero-content-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 140px;
  padding-top: 110px;
}

.hero-text {
  padding-right: 46px;
}

.hero-text > h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-text > p {
  font-size: 18px;
  color: #c4c5c8;
  margin-top: 0;
}

.hero-text > button {
  display: inline-block;
  border-radius: 7px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 32px;
  text-align: center;
  border: none;
}

button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #f9faf8;
  color: #3882f6;
}

.hero-image {
  background-color: rgb(118, 118, 124);
  color: #c4c5c8;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  padding-bottom: 100px;
}

.content-container > h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding: 20px;
}

.subtext-main-container {
  display: flex;
  justify-content: center;
}

.subtext-container {
  text-align: center;
  margin: 25px;
}

.subtext-container > div {
  display: grid;
  width: 157px;
  height: 157px;
  border: solid;
  border-radius: 15px;
  border-width: 4px;
  border-color: #3882f6;
}

.subtext-container > p {
  font-size: 18px;
  color: grey;
  margin-top: 7px;
  width: 165px;
}

.quote-container {
  background-color: #e5e7eb;
  padding-top: 120px;
  justify-content: center;
}

#quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  width: 810px;
  padding: 0 107px 0;
  margin-bottom: 0;
}

#quote-author {
  margin-top: 0;
  padding-bottom: 110px;
  font-size: 25px;
  font-weight: bolder;
  text-align: end;
  padding-right: 150px;
}

.cta-container {
  background-color: #3882f6;
  margin: 100px 200px;
  color: #f9faf8;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.cta-text-container > h3 {
  font-size: 23px;
  margin: 0;
}

.cta-text-container > p {
  font-size: 18px;
  margin: 2px 0 0;
  color: #e5e7eb;
}

#cta-button {
  border-radius: 10px;
  border: solid;
  border-color: #f9faf8;
  background-color: #3882f6;
  border-width: 2px;
  padding: 0px 35px;
  font-size: 18px;
  color: #f9faf8;
  font-weight: 500;
}

#cta-button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #f9faf8;
  color: #3882f6;
}

footer {
  height: 105px;
  background-color: #1f2937;
}

footer > p {
  font-size: 18px;
  color: #c4c5c8;
  padding: 40px;
  text-align: center;
}
